.vscode
/frameworks/cocos2d-x
/frameworks/runtime-src/*
!/frameworks/runtime-src/proj.ios_mac/
/frameworks/runtime-src/proj.ios_mac/*
!/frameworks/runtime-src/proj.ios_mac/ios
!/frameworks/runtime-src/proj.ios_mac/Podfile*
