<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RELAX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,679},{281,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,78}}</string>
                <key>sourceSize</key>
                <string>{281,78}</string>
            </dict>
            <key>RELAX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,679},{281,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,78}}</string>
                <key>sourceSize</key>
                <string>{281,78}</string>
            </dict>
            <key>back-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,597},{104,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,81}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>back-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,876},{104,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,81}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,611},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>p-1-list1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,370},{95,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,72}}</string>
                <key>sourceSize</key>
                <string>{95,72}</string>
            </dict>
            <key>p-1-list2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,296},{95,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,72}}</string>
                <key>sourceSize</key>
                <string>{95,72}</string>
            </dict>
            <key>p-1-play-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,679},{281,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,78}}</string>
                <key>sourceSize</key>
                <string>{281,78}</string>
            </dict>
            <key>p-1-play-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{281,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,78}}</string>
                <key>sourceSize</key>
                <string>{281,78}</string>
            </dict>
            <key>p-1-shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,444},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>p-1-shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,214},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>p-1-shopW1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,292}}</string>
                <key>sourceSize</key>
                <string>{434,292}</string>
            </dict>
            <key>p-1-shopW2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,546},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>p-1-shopW3-E.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{328,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,75}}</string>
                <key>sourceSize</key>
                <string>{328,75}</string>
            </dict>
            <key>p-1-shopW3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,520},{328,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,75}}</string>
                <key>sourceSize</key>
                <string>{328,75}</string>
            </dict>
            <key>p-1-shopW4-E.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,483},{213,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,61}}</string>
                <key>sourceSize</key>
                <string>{213,61}</string>
            </dict>
            <key>p-1-shopW4.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,420},{213,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,61}}</string>
                <key>sourceSize</key>
                <string>{213,61}</string>
            </dict>
            <key>p-1-shopW5-E.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,356},{234,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,62}}</string>
                <key>sourceSize</key>
                <string>{234,62}</string>
            </dict>
            <key>p-1-shopW5.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,292},{234,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,62}}</string>
                <key>sourceSize</key>
                <string>{234,62}</string>
            </dict>
            <key>p-1-shopW6-E.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,108},{425,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,104}}</string>
                <key>sourceSize</key>
                <string>{425,104}</string>
            </dict>
            <key>p-1-shopW6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{425,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,104}}</string>
                <key>sourceSize</key>
                <string>{425,104}</string>
            </dict>
            <key>p-1-shopW7.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,162},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>p-1-sound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,611},{74,62}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{74,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>p-1-sound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,522},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>p-3-home1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,782},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>p-3-home2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,864},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>p-3-retry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,680},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>p-3-retry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,782},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>p-3-share1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,680},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>p-3-share2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,597},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>p-3-stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,158}}</string>
                <key>sourceSize</key>
                <string>{156,158}</string>
            </dict>
            <key>p-4-1-E.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{333,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,304}}</string>
                <key>sourceSize</key>
                <string>{333,304}</string>
            </dict>
            <key>p-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,214},{333,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,304}}</string>
                <key>sourceSize</key>
                <string>{333,304}</string>
            </dict>
            <key>p-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>p-4-3-E.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,675},{198,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,55}}</string>
                <key>sourceSize</key>
                <string>{198,55}</string>
            </dict>
            <key>p-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,676},{198,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,55}}</string>
                <key>sourceSize</key>
                <string>{198,55}</string>
            </dict>
            <key>p-4-4-E.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,679},{198,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,55}}</string>
                <key>sourceSize</key>
                <string>{198,55}</string>
            </dict>
            <key>p-4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,546},{198,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,55}}</string>
                <key>sourceSize</key>
                <string>{198,55}</string>
            </dict>
            <key>p-4-5-E.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,962},{198,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,55}}</string>
                <key>sourceSize</key>
                <string>{198,55}</string>
            </dict>
            <key>p-4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,962},{198,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,55}}</string>
                <key>sourceSize</key>
                <string>{198,55}</string>
            </dict>
            <key>stop-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,879},{104,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,81}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>stop-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,162},{104,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,81}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaa78c08ee11a1195445d9c7c78f9dfc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
